.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h3 {
  text-align: center;
}
h3 {
  color: #d3d3d3;
  font-family: 'Arial', monospace;
  font-size: 3em;
  margin: 20px 0;
  text-shadow: 2px 2px 2px #222222;
  text-transform: uppercase;
}
h3 span {
  color: #dc143c;
}
h4 {
  border-bottom: 2px solid #696969;
  color: #696969;
  display: inline-block;
  font-family: 'Arial', monospace;
  font-size: 2em;
  margin: 40px auto 10px;
  text-align: center;
  text-shadow: 2px 2px 2px #222222;
  text-transform: uppercase;
}
h4 span {
  color: #dc143c;
}
h5 {
  color: #696969;
  font-family: 'Arial', monospace;
  font-size: 1.75em;
  margin: 20px auto;
  text-decoration: underline;
  text-shadow: 1px 1px 1px #696969;
  text-transform: capitalize;
}
p {
  color: #d3d3d3;
  font-family: 'Bahnschrift', monospace;
  font-size: 1.5em;
  margin: 10px 0 40px;
  text-shadow: 1px 1px 1px #696969;
}
.btn {
  border: 2px solid #dc143c;
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
  color: #dc143c;
  font-family: 'Impact', sans-serif;
  font-size: 1.25em;
  padding: 20px 50px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background: #dc143c;
  color: #d3d3d3;
}
.arrowDown {
  background: #dc143c;
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
  border-radius: 50%;
  margin: 20px auto;
  padding: 10px 18px 14px;
}
.arrowDown:hover {
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
  transform: scale(1.025);
}
.arrowDown2 {
  color: #dc143c;
  border: 1px solid #dc143c;
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
  border-radius: 50%;
  margin: 20px auto;
  padding: 10px 18px 14px;
  text-decoration: none;
}
.arrowDown2:hover {
  background: #dc143c;
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
  color: #d3d3d3;
  transform: scale(1.025);
}
button {
  background: none;
  border: none;
  color: #696969;
  cursor: pointer;
  font-size: 1.5em;
  font-family: 'Arial', monospace;
  padding: 15px 30px;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background: #696969;
  color: #d3d3d3;
}
header {
  background: url("https://i.redd.it/1pj94zx19y901.png") no-repeat center center;
  height: 969px;
}
header nav {
  display: flex;
  justify-content: space-around;
}
header nav img {
  height: 150px;
  margin-top: 40px;
  width: 150px;
}
header nav menu {
  display: flex;
  list-style: none;
  margin-top: 60px;
  padding: 0;
}
header nav menu li a {
  font-size: 1.5em;
  padding: 10px;
  text-transform: uppercase;
}
header nav menu li a:hover {
  border-bottom: 3px solid #dc143c;
  color: #dc143c;
}
#info p {
  text-align: center;
}
#info #column {
  display: flex;
  flex-direction: row;
}
#info #column div {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#info #column div img {
  height: 150px;
  width: 150px;
}
#info #column div p {
  text-align: justify;
}
#join {
  align-items: center;
  background: url("https://i.pinimg.com/originals/ad/a2/ec/ada2ec185c1243721d285d9cfc1f3084.jpg") no-repeat top center;
  color: #d3d3d3;
  justify-content: center;
  height: 969px;
  position: relative;
}
#join .arrowDown {
  position: absolute;
  bottom: 0;
}
#frame iframe {
  border: 2px solid #696969;
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
  height: 675px;
  margin: 20px auto;
  width: 1200px;
}
#objectives > div {
  display: flex;
  flex-direction: column;
}
#objectives #first,
#objectives #third {
  background: #d3d3d3;
}
#objectives #first .tip div,
#objectives #third .tip div {
  padding-right: 40px;
}
#objectives #first .tip div p,
#objectives #third .tip div p {
  color: #696969;
}
#objectives #second .tip div,
#objectives #fourth .tip div {
  padding-left: 40px;
  text-align: right;
}
#objectives .tip {
  align-items: center;
  display: flex;
  margin: 40px 20px;
}
#objectives .tip p {
  margin: 10px 0 40px;
}
#objectives img {
  border: 2px solid #696969;
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
  height: 405px;
  width: 720px;
}
#media {
  align-items: center;
  background: #d3d3d3;
  display: flex;
  flex-direction: column;
}
#media .filter {
  border-top: 2px solid #696969;
  border-bottom: 2px solid #696969;
  display: flex;
  justify-content: space-between;
  margin: 40px 20px 10px;
}
#media .container_photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 20px;
}
#media .container_photos div {
  margin: 5px 5px 0;
}
#media .container_photos div img {
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
  height: 270px;
  width: 480px;
}
footer section {
  display: flex;
  justify-content: space-around;
  margin: 40px 20px;
  text-align: center;
}
footer section div img {
  height: 200px;
  margin-top: 40px;
  width: 170px;
}
footer section div h5 {
  text-decoration: none;
}
footer section div h5 span {
  color: #dc143c;
}
footer section div p {
  font-weight: bold;
  margin-bottom: 10px;
}
footer section div a img {
  height: 40px;
  margin: 5px;
  width: 40px;
}
footer section div a img:hover {
  transform: scale(1.025);
}
body {
  margin: 0;
  min-width: 360px;
  position: relative;
}
body > a {
  background: #696969;
  bottom: 0;
  display: none;
  position: fixed;
  right: 15px;
  z-index: 1;
}
a {
  color: #d3d3d3;
  font-family: 'Impact', sans-serif;
  text-decoration: none;
}
