body {
  margin: 0;
  min-width: 320px;
}
header {
  background: url("https://i.redd.it/1pj94zx19y901.png") no-repeat center center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 972px;
  text-shadow: 2px 2px 2px #322;
}
header #top {
  display: flex;
  justify-content: space-around;
}
header #top img {
  height: 150px;
  margin-top: 40px;
  width: 150px;
}
header #top menu {
  display: flex;
  list-style: none;
  margin-top: 60px;
  padding: 0;
}
header #top menu li a {
  font-size: 1.5em;
  padding: 10px;
  text-transform: uppercase;
}
header #top menu li a:hover {
  border-bottom: 3px solid crimson;
  color: crimson;
}
header #middle {
  display: flex;
  color: azure;
  flex-direction: column;
  font-family: 'Arial', cursive;
  justify-content: space-around;
  text-align: center;
  text-shadow: 2px 2px 2px #322;
}
header #middle h1 {
  font-size: 3em;
  margin: 10px;
  text-transform: uppercase;
}
header #middle h1 span {
  color: crimson;
}
header #middle p {
  font-size: 1.25em;
  margin: 10px;
}
header #middle a {
  border: 3px solid crimson;
  box-shadow: 2px 2px 4px rgba(1, 10, 10, 0.5);
  color: crimson;
  font-size: 1.2em;
  margin: 10px auto;
  padding: 20px 50px;
  transition: all 0.5s ease-in-out;
}
header #middle a:hover {
  background: crimson;
  color: azure;
  box-shadow: 2px 2px 6px rgba(10, 10, 10, 0.75);
  transform: scale(1.025);
}
header #bottom {
  display: flex;
  justify-content: center;
}
header #bottom a {
  background: crimson;
  box-shadow: 2px 2px 4px rgba(1, 10, 10, 0.5);
  border-radius: 50%;
  margin: 20px;
  padding: 10px 15px;
}
header #bottom a:hover {
  box-shadow: 2px 2px 6px rgba(10, 10, 10, 0.75);
  transform: scale(1.1);
}
header a {
  color: azure;
  text-decoration: none;
}
article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 480px;
}
article #mainTop {
  display: flex;
  color: #191919;
  flex-direction: column;
  font-family: 'Arial', cursive;
  text-align: center;
}
article #mainTop h1 {
  border-bottom: 2px solid #191919;
  display: inline;
  font-size: 2em;
  margin: 40px auto 10px;
  text-shadow: 2px 2px 2px #211;
  text-transform: uppercase;
}
article #mainTop h1 span {
  color: crimson;
}
article #mainTop p {
  font-size: 1.3em;
  margin: 10px auto 40px;
}
article #mainMiddle {
  display: flex;
  justify-content: space-around;
}
article #mainMiddle div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', cursive;
  margin: 20px 50px;
  text-align: justify;
}
article #mainMiddle div img {
  cursor: pointer;
  height: 150px;
  margin: 0;
  padding: 15px;
  width: 150px;
}
article #mainMiddle div img:hover {
  transform: scale(1.1);
}
article #mainMiddle div h3 {
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
article #mainBottom {
  display: flex;
  justify-content: center;
}
article #mainBottom a {
  border: 1px solid crimson;
  box-shadow: 2px 2px 4px rgba(1, 10, 10, 0.5);
  border-radius: 50%;
  margin: 20px;
  padding: 10px 15px;
}
article #mainBottom a:hover {
  background: crimson;
  box-shadow: 2px 2px 6px rgba(10, 10, 10, 0.75);
  color: azure;
  transform: scale(1.1);
}
article a {
  color: crimson;
  text-decoration: none;
}
