@media screen and (max-width: 1200px) and (min-width: 721px){
    article #mainTop h1{
        font-size: 1.75em;
    }
    article #mainTop p{
        font-size: 1.15em;
        width: 560px;
    }
    article #mainMiddle div{
        margin: 10px 25px;
    }
    article #mainMiddle div img{
        height: 100px;
        width: 100px;
    }
    article #mainMiddle div h3{
        font-size: 1em;
    }
}
@media screen and (max-width: 720px) and (min-width: 475px){
    header #top{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    header #middle{
        align-items: center;
        justify-content: center;
    }
    header #middle h1{
        font-size: 2em;
        width: 474px;
    }
    header #middle p{
        font-size: 1em;
        width: 454px;
    }
    article #mainTop h1{
        font-size: 1.5em;
    }
    article #mainTop p{
        font-size: 1.05em;
        margin: 10px auto 20px;
        width: 440px;
    }
    article #mainMiddle{
        flex-wrap: wrap;
    }
    article #mainMiddle div{
        max-width: 200px;
        margin: 10px 50px;
    }
    article #mainMiddle div img{
        height: 100px;
        width: 100px;
    }
    article #mainMiddle div h3{
        font-size: 1em;
    }
    article #mainMiddle div p{
        width: 280px;
    }
}
@media screen and (max-width: 474px){
    header #top{
        flex-direction: row;
        justify-content: space-around;
    }
    header #top menu{
        flex-direction: column;
    }
    header #top menu li{
        margin-bottom: 15px;
    }
    header #top menu li a{
         font-size: 1.25em;
     }
    header #middle{
        align-items: center;
        justify-content: center;
    }
    header #middle h1{
        font-size: 1.25em;
        width: 320px;
    }
    header #middle p{
        font-size: 1em;
        width: 320px;
    }
    header #middle a{
        padding: 10px 25px;
    }
    article #mainTop h1{
        font-size: 1.25em;
    }
    article #mainTop p{
        font-size: 1em;
        margin: 10px auto 10px;
        width: 320px;
    }
    article #mainMiddle{
        display: flex;
        flex-direction: column;
    }
    article #mainMiddle div{
        margin: 5px 25px;
    }
    article #mainMiddle div img{
        height: 100px;
        width: 100px;
    }
    article #mainMiddle div h3{
        font-size: 1em;
    }
    article #mainMiddle div p{
        width: 280px;
    }
}