body{
    background-color: lightskyblue;
}
header{
    background-color: dodgerblue;
}
nav{
    background-color: azure;
    text-align: center;
    padding: 10px;
    height: 25px;
    line-height: 25px;
}
article{
}
aside{
    background-color: azure;
    padding: 10px;
}
footer{
    background-color: darkblue;
}
p{
    padding: 10px;
    text-align: justify;
    color: azure;
    font-size: 18pt;
    font-family: "Comic Sans MS", cursive;
}
a{
    color: royalblue;
    text-decoration: none;
    padding: inherit;
}
li{
    color: royalblue;
    font-size: 14pt;
    font-family: "Comic Sans MS", cursive;
}
img{
    width: 25%;
    border-radius: 50px;
}
.title{
    text-align: center;
}
.div{
    margin: 0px 15px;
    border-radius: 10px;
}
